<ng-container *ngIf="!hasCLI">
    <div style="padding: 16px;">
    <mat-card >
        <mat-card-title>{{ 'words.states.not_installed' | translate }}</mat-card-title>
        <mat-card-content>
            <p>{{ 'words.states.not_installed_desc' | translate }}</p>
            <button (click)="downloadCLI()" color="accent" mat-button>{{ 'button.install-blockchain' | translate }}</button>
            <ng-container *ngIf="downloadingCLI ">
                <lthn-app-console attach="update-cli"></lthn-app-console>
            </ng-container>
        </mat-card-content>
    </mat-card>
    </div>

</ng-container>

    <div class="container-fluid p-2" fxLayoutGap="8px">
        <mat-card fxFlex="25">

            <ng-container *ngIf="!hasCLI">
                <mat-card-title *ngIf="!downloadingCLI">{{ 'words.states.not_installed' | translate }}</mat-card-title>
                <mat-card-title *ngIf="downloadingCLI">{{ 'words.states.installing' | translate }}</mat-card-title>
                <mat-card-content>
                    <p *ngIf="!downloadingCLI">{{ 'words.states.not_installed_desc' | translate }}</p>
                    <p *ngIf="downloadingCLI">{{ 'words.states.installing_desc' | translate }}</p>
                    <button *ngIf="!downloadingCLI" (click)="downloadCLI()" color="accent" mat-button>{{ 'button.install-blockchain' | translate }}</button>
                    <mat-progress-spinner *ngIf="downloadingCLI" color="accent" mode="indeterminate"></mat-progress-spinner>


                </mat-card-content>
            </ng-container>
            <ng-container *ngIf="hasCLI">
                <mat-card-title>Lethean Blockchain</mat-card-title>
                <mat-card-content  *ngIf="chainInfo | ngrxPush as info">
                    <div fxLayout="column, wrap" fxLayoutGap="18px">
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.height' | translate }}</div>
                            <div mat-line> {{info.height | number }} </div>
                        </div>
                        <div fxFlex="50">
                            <div mat-line>{{'plugin.lthn.chain.words.tx_pool' | translate }}</div>
                            <div mat-line> {{info.tx_pool_size }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.alt_blocks' | translate }}</div>
                            <div mat-line> {{info.alt_blocks_count }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.difficulty' | translate }}</div>
                            <div mat-line> {{info.difficulty | number }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.grey_peerlist_size' | translate }}</div>
                            <div mat-line> {{info.grey_peerlist_size }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.incoming_connections_count' | translate }}</div>
                            <div mat-line> {{info.incoming_connections_count }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.outgoing_connections_count' | translate }}</div>
                            <div mat-line> {{info.outgoing_connections_count }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.status' | translate }}</div>
                            <div mat-line> {{info.status }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.target' | translate }}</div>
                            <div mat-line> {{info.target }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.target_height' | translate }}</div>
                            <div mat-line> {{info.target_height | number}} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.testnet' | translate }}</div>
                            <div mat-line> {{info.testnet }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.top_block_hash' | translate }}</div>
                            <div mat-line [innerHTML]="info.top_block_hash | hashLink | keepHtml" > </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.tx_count' | translate }}</div>
                            <div mat-line> {{info.tx_count | number }} </div>
                        </div>
                        <div fxFlex="33">
                            <div mat-line>{{'plugin.lthn.chain.words.white_peerlist_size' | translate }}</div>
                            <div mat-line> {{info.white_peerlist_size }} </div>
                        </div>
                    </div>
                </mat-card-content>
            </ng-container>
        </mat-card>

        <mat-card fxFlex="70">
            <mat-card-title>Recent Blocks</mat-card-title>
            <mat-card-content>
                <ngx-datatable
                        class="material"
                        [rows]="(blocks | ngrxPush)?.headers"
                        [loadingIndicator]="true"
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="25"
                        [limit]="25"
                        [trackByProp]="'timestamp'"
                        [sorts]="[{ prop: 'timestamp', dir: 'desc' }]"
                >
                    <ngx-datatable-column name="Height"></ngx-datatable-column>
                    <ngx-datatable-column name="Difficulty">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value | hashrate:true}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Hash">
                        <ng-template let-value="value"  ngx-datatable-cell-template>
                            <span [innerHTML]="value | hashLink:'txn' | keepHtml"></span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Orphan Status">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <mat-icon style="color: green" *ngIf="!value">done</mat-icon>
                            <mat-icon style="color: red" *ngIf="value">close</mat-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Reward">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value | toCoin | number:'1.0-8'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Timestamp">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value | timeAgo }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </mat-card-content>
        </mat-card>
    </div>
