<ng-container *ngIf="!hasCLI">
    <h2>{{ 'words.state.not_installed' | translate }}</h2>
    <p>{{ 'words.state.not_installed_desc' | translate }}</p>
    <button (click)="downloadCLI()" color="accent" mat-button>{{ 'button.install-blockchain' | translate }}</button>
</ng-container>
<ng-container *ngIf="hasCLI">
    <div style="padding: 16px;">
        <mat-card fxFlex="33">
            <mat-card-title>{{ 'plugin.lthn.wallet.titles.new-wallet' | translate }}</mat-card-title>
            <mat-card-content>
                <lthn-wallet-new></lthn-wallet-new>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="33">
            <mat-card-title>{{ 'plugin.lthn.wallet.titles.restore-seed' | translate }}</mat-card-title>
            <mat-card-content>
                <lthn-wallet-restore></lthn-wallet-restore>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="padding: 16px;">
        <mat-tab-group animationDuration="100ms">
            <mat-tab label="{{ 'plugin.lthn.daemons.letheand' | translate }}">
                <lthn-app-console attach="letheand"></lthn-app-console>
            </mat-tab>
            <mat-tab label="{{ 'plugin.lthn.daemons.lethean-wallet-rpc' | translate }}">
                <lthn-app-console attach="lethean-wallet-rpc"></lthn-app-console>
            </mat-tab>
            <mat-tab label="{{ 'plugin.lthn.daemons.lethean-wallet-cli' | translate }}">
                <lthn-app-console attach="lethean-wallet-cli"></lthn-app-console>
            </mat-tab>
            <mat-tab label="{{ 'plugin.lthn.daemons.lethean-wallet-vpn-rpc' | translate }}">
                <lthn-app-console attach="lethean-wallet-vpn-rpc"></lthn-app-console>
            </mat-tab>
            <mat-tab label="{{ 'plugin.lthn.daemons.lethean-blockchain-export' | translate }}">
                <lthn-app-console attach="lethean-blockchain-export"></lthn-app-console>
            </mat-tab>
            <mat-tab label="{{ 'plugin.lthn.daemons.lethean-blockchain-import' | translate }}">
                <lthn-app-console attach="lethean-blockchain-import"></lthn-app-console>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-container>
